/* Reset */
* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

/* Variables */

:root {
    --main-color: #54B689;
    --main-text-color: #FFF;
    --border-color: #999;
    --bio-bg-color: #1E2A3A;
    --about-bg-color: #111821;
}

/* General */
.highlight {
    color: var(--main-color);
}